body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
.dde{
     color: green;
}
h3{
    color: indigo;
}.eert{
    color: maroon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wwet{
    display: flex;
    background-image: url(gtre/gun\).jpeg);
    background-repeat: no-repeat;
    
}
.half-wiedth{
    width: 50%;
    padding-left: 5%;
}
.half-wiedth img{
    width: 140%;
}
.eert{
    text-align: justify;
    margin: 5%;
    border-radius: 5%;
    padding: 10%;
    background-color: forestgreen;
    color: fuchsia;
}
.ddty{
    text-decoration: no;
    background-image:-o-linear-gradient(yellow, green);
    color: black;
    border: 1px burlywood;
    padding: 2px;
    border-radius: 5px;
}
.ffcx{
    background-image: url(gtre/courtesy-of-anwar-hossain-foundation-copy-1584848590737.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.llr{
    width: 50%;
    text-align: justify;
}
.aaz{
    width: 50%;
    text-align: center;
    margin-left: 20%;
}
.ddo{
    border: hotpink;
    color: brown;

}
.ffre{
    width: 50%;
}.conclusion{
    box-shadow: blue;


}
.vvc{
    text-align: center;
    text-align: justify;
    padding: 10%;
}
.ffds{
    background-color: chartreuse;
    color: black;
    
}